 <html>
   <head>
<!--      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
     <script>
       $(document).ready(function(){
      $.get("/loginuser", function(data, status){
         $("h1").text("Username: " + data.username + "\nStatus: " + status);
    

 });
      
</script> -->
    
   </head>
  
    <body>
    <h1>
      Welcome User
    </h1>
      
      <script>
        function welcomeUser(){
          var ourRequest = new XMLHttpRequest();
          ourRequest.open('GET','')
        }
      </script>
    
  </body>
</html>